html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif, tahoma, 'lucida grande', verdana, arial;
    text-align: left;
    font-size: 0.95em;
}

body {
    background: #fff url('../images/bodybg.png') repeat-x left top;
    border-top: 3px solid #0d0c0c;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a, .project_list a {
    color: #369de1;
}

p {
    margin: 10px;
}

img {
    border: 1px solid #fff;
}

.centered { margin-right: auto; margin-left: auto;}
.left {float: left; margin-left: 10px}
.right {float: right; margin-right: 10px}
.invisible {display: none}
.error{font-size: x-small; color: red;}
.round-left-top-corner { border-top-left-radius: 5px 5px; }
.round-right-top-corner { border-top-right-radius: 5px 5px; }
.round-left-bottom-corner { border-bottom-left-radius: 5px 5px; }
.round-right-bottom-corner { border-bottom-right-radius: 5px 5px; }
/* .content { width: 75%; min-width: 800px; overflow: auto; } */
.content { width: 75%; max-width: 950px; min-width: 500px; overflow: auto; } */
.large-font { font-size: large; }
.small-font { font-size: small; }


.project_list {
    width: 50%;
    margin: auto;
    /** these shall be changed later ^^ **/
    
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: sans-serif, tahoma, 'lucida grande', verdana, arial;
    font-size: 0.9em;
    
     float: left; 
}
.project_list > h3 {
    font-weight: bold;
    margin-top: 10px;
}
.project_list > div {
    text-align: justify;
    margin: 0px;
    padding: 10px;
}

.tech_used {
    margin-left: 5px;
    color: gray;
}
.tech_used:after{content:"]"}
.tech_used:before{content:"["}

#header { height: 35px; }

#sf-link-container {
    float: right;
    font-size: medium;
}

#sf-link-container li {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #0d0c0c;
    margin-right: 1px;
    height: 30px;
    line-height: 30px;
}

#sf-link-container li:hover {
    background-color: #bf2110;
}

#sf-link-container li a {
    color: #ffffff;
    text-decoration: none;
}

#sf-link-container li img {
    vertical-align: middle;
    margin-right: 10px;
    display: inline-block;
}

#page {
    min-height: 475px;
    padding: 5px;
    padding-top: 20px;
    overflow: hidden;
}

#main-text {
    margin-top: 10px;
    border-top: 1px solid #0d0c0c;
}

#footer {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: small;
    background: #fff url('../images/footer-bg.png') repeat-x left top;
}

#footer-link-container li {
    float: left;
    margin-right: 15px;
}

#footer-link-container li:hover {
    font-weight: bold;
}

#footer-link-container a {
    text-decoration: none;
    color: #000000;
}


/*------------------------------------------------------------------------------
 *      Pre/Code Styles
 *------------------------------------------------------------------------------
*/

code {white-space: nowrap;}

pre {
  border: 1px solid #cacaca;
  line-height: 1.2em;
  font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
  padding: 10px;
  overflow:auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #FAFAFB;
  color: #393939;
  margin: 0px;
}

ul + pre {
  margin-top: 1em;
}

pre code {white-space: pre;}

pre span.comment {color: #aaa;}

pre.headers {
  margin-bottom: 0;
  border-bottom-width: 0;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #666;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); 
  background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); 
  background-image: linear-gradient(top, #f1f1f1, #e1e1e1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f1f1f1', EndColorStr='#e1e1e1');
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

pre.no-response {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px 3px;
  border-radius: 3px 3px;
  border-bottom: 1px solid #CACACA;
}

pre.headers + pre.highlight {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

pre.highlight {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background-color: #FAFAFB;
}

pre.terminal {
  background-color: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #DEDEDE;
  position: relative;
  padding: 10px;
  text-shadow: none;
  background-image: none;
  filter: none;
}

pre.terminal em {
  color: #f9fe64;
}

span.codeline {
  display: block;
  position: relative;
}

span.codeline:hover {
  background-color: #292929;
  margin: 0px;
  padding-left: 3px;
  margin-left: -3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666666;
}

span.codeline span {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 0 0.3em 0.05em;
  position: absolute;
  right: 0px;
  top: 0px;
  text-indent: -9999px;
  background-image: url(../images/qmark.png);
  background-repeat: no-repeat;
  background-position: 1px 3px;
  max-width: 8px;
  min-width: 8px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: default;
}

span.codeline span:hover {
  display: inline-block;
  text-indent: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #000;
  border: 1px solid #292929;
  max-width: 1000px;
}

span.codeline:hover em {
  color: #666666;
}

pre.bootcamp {
  white-space: normal;
  margin-left: -10px;
  background-image: none;
}

span.bash-output {
  color: #63e463;
  display: block;
  position: relative;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/* end */
